# Learning about new branches

In this case, imagine that you and your friend are working on a project, but in the middle of the project both of you have different ideas on different spots of your code, both of you can work on each desired content and implement new things, and afterwards, merge it all together to create a new branch, the versions of it, will still be saved upon add, staging and commiting to the code.